/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 25, 2017, 6:07:52 PM
    Author     : kratiyag.gupta
*/

#menu1
{
    width: 90%;
    height: 30px;
    
}
#menu1 ul li
{
    float: left;
    margin-top: -7px;
    padding: 10px;
    list-style: none;
    font-family: sans-serif;
    font-size: larger;
    
}
#menu2
{
    width: 60%;
    height: 30px;
    margin: 0px auto;
}
#menu2 ul li
{
    float: left;
    margin-top: -7px;
    padding: 10px;
    list-style: none;
    font-family: monospace;
    font-size: larger;
    
}
#menu2 ul li a
{
    font-family: monospace;
    font-size: large;
}
#menu2 ul li :hover
{
      color: black;
      cursor: pointer;
}
a
{
 color: whitesmoke; 
 height: 30px;
 padding: 20px;

}


#menu1 ul li :hover
{
      background-color:gray;
      cursor: pointer;
}
#menu1 ul
{
    margin-top: 0px;
 background-color: black;
 opacity: 0.5;
  height: 30px;
 padding: 10px;
}